<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to The Top Out!</h1>
    <p>
      To login to the site, go to <%= new_user_session_url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>

