/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *
*/

/* Global Styles */


.ui-title#footer-text {
  white-space: normal!important;
  margin: .6em 0px .8em!important;
}

.button {
  font-size: 16px!important;
  text-decoration: none!important;
  -moz-border-radius: 4px!important;
  -khtml-border-radius: 4px!important;
  -webkit-border-radius: 4px!important;
  border-radius: 4px!important;
  text-shadow: none!important;
  color: #333!important;
  text-align: center;
  width: 90px;
  padding: 0.6em 0px;
}

#sign-in-out {
  background: #DDD;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FEFEFE), color-stop(1, #DDD) );
  background:-moz-linear-gradient( center top, #FEFEFE 5%, #DDD 100% );
}

/* Anonymous Home Page Styles */

#home-sign-up {
  box-shadow: 0 1px 0 rgba(0,0,0,0);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0);
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0);
  float: right;
  background: #FA2;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FE6), color-stop(1, #FA2) );
  background:-moz-linear-gradient( center top, #FE6 5%, #FA2 100% );
  margin: 0px -2px 0px 0px;
}

#home-two-col {
  margin-top: -6px;
}

#home-two-col #home-left-col {
  float: left;
  width: 70%;
  margin-bottom: 9px;
}

#home-two-col #home-right-col {
  float: left;
  width: 30%;
  margin-bottom: 9px;
}

#home-image {
  display: block;
  margin: 0 auto;
  border: 1px solid #999999;
  padding: 2px;
  width: 284px;
}

#home-title {
  margin: 3px 0px 6px 15px;
  text-decoration: none!important;
  color: #FFF;
  font-family: 'Cabin Sketch', cursive;
  font-size: 32px;
}

#home-tagline {
  margin: 0px;
}


/* Other Styles (To Be Organized) */

span.inlinesparkline {
  float: left;
  padding: 0.7em 0 0.7em 15px;
  margin-right: -5px;
}

.ui-link {
  text-decoration: none!important;
}

#account-manage-title {
  margin: 0px;
}

.ui-li-aside.difficulty { 
  padding-top: 18px;
  width: 10%;
}

.problem_text {
  float: left;
}

.problem_colors {
  float: left;
  height: 48px;
  width: 36px;
  margin-right: 10px;
  border: 1px solid #999999;
  padding: 2px;
}

.problem_stripe {
  float: left;
  height: 100%;
}

.user-home.stats {
  text-align: center;
  clear: both;
}

.user-home.text {
  font-size: 14px;
  color: #999999;
}

.user-home.number {
  font-weight: bold;
  font-size: 18px;
  color: #555555;
}
