<div data-role="content">
<div id="home-two-col">
  <div id="home-left-col">
    <p id="home-tagline">The best way to track and improve your climbing.</p>
  </div>
  <div id="home-right-col">
    <%= link_to "Sign Up", new_user_registration_path, :class => "button", :id => "home-sign-up" %>
  </div>
</div>
<%= image_tag("home-image.jpg", :id => "home-image") %>
</div>
