<% content_for :header do %>
  <div>
    <h3 id="home-title">The Top Out</h1>
  </div>  
<% end %>

<% content_for :content do %>
  <div id="home-two-col">
    <div id="home-left-col">
      <p id="home-tagline">Send routes. Solve problems. Bask in glory.</p>
    </div>
    <div id="home-right-col">
      <%= link_to "Sign Up!", new_user_registration_path %>
    </div>
  </div>
    <%= image_tag("home-image.jpg", :id => "home-image") %>
  <div>
    <p>The Top Out lets you track your progress as you climb at your local gym.</p>
  </div>  
<% end %>
