<% content_for :header do %>
  <div>
    <h3 id="home-title">The Top Out</h1>
  </div>  
<% end %>

<% content_for :content do %>
  <% if current_user %>
    <%= render :partial => 'user' %>
  <% else %>
    <%= render :partial => 'anon' %>
  <% end %>
<% end %>
