<% content_for :header do %>
  <h1><%= @wall.gym.name %></h1>
<% end %>

<% content_for :content do %>
  <ul data-role="listview" data-split-icon="check">
    <li data-role="list-divider"><%= @wall.name %></li>
    <% @wall.problems.each do |problem| %>
      <li><a>
          <img></img>
          <h3><%= problem.name %></h3>
          <p></p>
          <p class="ui-li-aside"><strong><%= problem.difficulty_display %></strong></p>
        </a><a href=""></a>
      </li>
    <% end %>
  </ul>
<% end %>
