<div data-role="header">
  <h1><%= @wall.gym.name %></h1>
</div>

<div data-role="content">
  <ul data-role="listview" data-split-icon="check">
    <li data-role="list-divider"><%= @wall.name %></li>
    <% @wall.problems.each do |problem| %>
      <li data-icon="check"><a> 
        <img style="width: 24px; height: 16px; background: #FFF" class="ui-li-icon">
        <p style="margin: 0px"><strong><%= problem.name %></strong></p>
        <p style="margin: 0px">3 days ago</p>
        <span class="ui-li-count"><strong> <%= problem.difficulty_display %> </strong></span>
      </a></li>
    <% end %>
  </ul>
</div>
