<% content_for :header do %>
  <h1><%= @wall.gym.name %></h1>
<% end %>

<% content_for :content do %>
  <ul data-role="listview">
    <li data-role="list-divider"><%= @wall.name %></li>
    <%= render :partial => 'problem', :collection => @wall.live_problems_sorted_by_diff %>
  <% if current_user.try(:admin?) %>
    <li>
    <%= link_to "Clear Wall (Admin Only)", clear_wall_url(@wall.id), :method => :post %>
    </li>
  <% end %>
  </ul>
<% end %>
