<div data-role="header">
  <h1>Listing gyms</h1>
</div>

<div data-role="content">
  <ul data-role="listview">
    <% @gyms.each do |gym| %>
      <li>
      <%= link_to gym.name, gym %>
      </li>
    <% end %>
  </ul>
</div>
