<% content_for :navbar do %>
  <div data-role="navbar">
    <ul>
      <li><%= link_to @gym.name %></li>
    </ul>
  </div>
<% end %>

<% content_for :content do %>
  <ul id="wall-list" data-role="listview">
    <li data-role="list-divider">Your Progress</li>
    <li> <%= link_to "Unsolved Problems",  %> </li>

    <li data-role="list-divider">Bouldering Walls</li>
    <% @gym.live_wall_list.each do |wall| %>
      <li>
        <span class="inlinesparkline"><%= wall.sparkline_data %></span>
        <%= link_to wall.name, wall %>
      </li>
    <% end %>
  </ul>
  <script type="text/javascript">
    $(function() { 
      $('.inlinesparkline').sparkline('html', {
        type:'bar', barWidth:3, colorMap:["hsl(120,100%,40%)","hsl(113,100%,40%)", "hsl(106,100%,40%)", "hsl(99,100%,40%)", "hsl(92,100%,40%)", "hsl(85,100%,40%)", "hsl(78,100%,40%)", "hsl(71,100%,40%)", "hsl(64,100%,40%)", "hsl(57,100%,40%)", "hsl(50,100%,40%)", "hsl(43,100%,40%)", "hsl(36,100%,40%)", "hsl(29,100%,40%)", "hsl(22,100%,40%)", "hsl(15,100%,40%)", "hsl(8,100%,40%)"]
      });
    });

    $('#mainPage').live('pageshow', function() {
      // Go ahead and draw teh now-visible sparkline tags
      $.sparkline_display_visible();
    });
  </script>
<% end %>
