<% content_for :navbar do %>
  <div data-role="navbar">
    <ul>
      <li><%= link_to @gym.name %></li>
    </ul>
  </div>
<% end %>

<% content_for :content do %>
  <ul data-role="listview">
    <li data-role="list-divider">Your Progress</li>
    <li> <%= link_to "Unsolved Problems",  %> </li>

    <li data-role="list-divider">Bouldering Walls</li>
    <% @gym.walls.each do |wall| %>
      <li> <%= link_to wall.name, wall %> </li>
    <% end %>
  </ul>
<% end %>
