<% content_for :header do %>
  <h1><%= @gym.name %></h1>
<% end %>

<% content_for :content do %>
  <div id="unsolved-problem-list" data-role="content">
  <ul data-role="listview">
    
    <li data-role="list-divider">Unsolved Problems</li>

    <% if current_user %>
      <%= render :partial => 'problem', :collection => current_user.unsolved_problems(@gym).sort %>
    <% else %>
      <%= render :partial => 'problem', :collection => @gym.all_live_problems.sort %>
    <% end %>
  
  </ul>
</div>
<% end %>
